Repository dsoaress/brawo-impact-cms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --max-warnings=0 --fix",
  "*.{json,yml,yaml,md}": "prettier --write --ignore-path .gitignore"
}

feat: add team and media
  .gitignore
  package-lock.json
  package.json
  src/collections/media.ts
  src/collections/team.ts
  src/collections/users.ts
  src/payload.config.ts
  src/server.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore

feat: add team and media (#2)
  .gitignore
  package-lock.json
  package.json
  src/collections/media.ts
  src/collections/team.ts
  src/collections/users.ts
  src/payload.config.ts
  src/server.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore

chore: update gitignore
  .gitignore
  build/2211c49456cd07331ea9.woff
  build/40ad7515b8674bb854a1.woff2
  build/4d8845b830f4e8e2affb.png
  build/51922ceb71da289688d3.woff2
  build/522443364fda49e9e0ed.woff2
  build/5b718d9772de251a8c0a.woff2
  build/787999a6af6a17efbc7c.woff
  build/78b8935fb481e11c92ce.woff
  build/8b4ddd0d08500553efde.woff
  build/8f612153248094525d9d.woff
  build/9c7dfd0036f7bd24b053.woff2
  build/a1cfdc5b5250b7c4b481.woff2
  build/d7aeda9e48ce098e7b48.woff
  build/e009f21405b4d7e89367.woff2
  build/e7caa9e17af6ac87d182.woff
  build/ebcc1430049fddb274f8.svg
  build/efe8f6a3b46446cc9135.woff
  build/f53bb8d4b29adc903703.woff2
  build/index.html
  build/main.1c14ba797809ee678b0f.js
  build/styles.css
  build/styles.f7bc09bafdcfb2df55a7.js
Due: eslint --max-warnings=0 --fix

chore: update gitignore (#3)
  .gitignore
  build/2211c49456cd07331ea9.woff
  build/40ad7515b8674bb854a1.woff2
  build/4d8845b830f4e8e2affb.png
  build/51922ceb71da289688d3.woff2
  build/522443364fda49e9e0ed.woff2
  build/5b718d9772de251a8c0a.woff2
  build/787999a6af6a17efbc7c.woff
  build/78b8935fb481e11c92ce.woff
  build/8b4ddd0d08500553efde.woff
  build/8f612153248094525d9d.woff
  build/9c7dfd0036f7bd24b053.woff2
  build/a1cfdc5b5250b7c4b481.woff2
  build/d7aeda9e48ce098e7b48.woff
  build/e009f21405b4d7e89367.woff2
  build/e7caa9e17af6ac87d182.woff
  build/ebcc1430049fddb274f8.svg
  build/efe8f6a3b46446cc9135.woff
  build/f53bb8d4b29adc903703.woff2
  build/index.html
  build/main.1c14ba797809ee678b0f.js
  build/styles.css
  build/styles.f7bc09bafdcfb2df55a7.js
Due: eslint --max-warnings=0 --fix

feat: add news
  src/collections/news.ts
  src/fields/slug.ts
  src/payload.config.ts
  src/utils/deep-merge.ts
  src/utils/format-slug.ts
Due: eslint --max-warnings=0 --fix

feat: add news (#4)
  src/collections/news.ts
  src/fields/slug.ts
  src/payload.config.ts
  src/utils/deep-merge.ts
  src/utils/format-slug.ts
Due: eslint --max-warnings=0 --fix

feat: add default columns
  src/collections/news.ts
  src/collections/team.ts
Due: eslint --max-warnings=0 --fix

feat: add default columns (#5)
  src/collections/news.ts
  src/collections/team.ts
Due: eslint --max-warnings=0 --fix

ci: add dockerignore
  .dockerignore
  Dockerfile
Due: none

fix: media access
  src/collections/media.ts
Due: eslint --max-warnings=0 --fix

fix: media access (#6)
  src/collections/media.ts
Due: eslint --max-warnings=0 --fix

feat: add pages collection
  src/collections/pages.ts
  src/payload.config.ts
Due: eslint --max-warnings=0 --fix

feat: add pages collection (#7)
  src/collections/pages.ts
  src/payload.config.ts
Due: eslint --max-warnings=0 --fix

feat: add email
  Dockerfile
  package-lock.json
  package.json
  src/constants.ts
  src/payload.config.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore

refactor: remove pages
  Dockerfile
  src/collections/pages.ts
  src/payload.config.ts
Due: eslint --max-warnings=0 --fix

fix: dockerfile
  Dockerfile
Due: none

fix: set yarn 1
  package.json
Due: prettier --write --ignore-path .gitignore

fix: set yarn 1
  Dockerfile
  package.json
  src/payload.config.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore
